$myFont: Helvetica, sans-serif;
$myColor-1: #00b39b;
$myColor-2: #ababab;
$myColor-3: #fff;
$myColor-4: #3d83df;
$myFontSize: 16px;

* {
  font-family: $myFont;
  font-size: $myFontSize;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
  img {
    height: 2rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    #About {
      color: $myColor-1;
    }
    #Career,
    #Dep {
      color: $myColor-2;
    }
  }
}

.section-1 {
  margin-top: 12rem;
  text-align: center;
  img {
    height: 3rem;
  }
  #p-head {
    font-size: 2rem;
    color: $myColor-1;
  }
  .para {
    display: flex;
    padding: 3rem 20rem;
    color: $myColor-2;
    align-items: center;
    justify-content: space-between;
    p {
        line-height: 1.5;
        margin-right: 2rem;
        text-align: left;
    }
  }
}
