$myFont: Helvetica, sans-serif;
$myFont-2: Work Sans, Arial, sans-serif;
$myColor-1: #00b39b;
$myColor-2: #ababab;
$myColor-3: #fff;
$myColor-4: #3d83df;
$myColor-5: #1b2734;
$myFontSize: 16px;

@mixin for {
  height: inherit;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: space-between;
}

@mixin for-title {
  font-size: 1.625em;
  font-weight: 400;
  margin: 0.3em 0;
  font-family: $myFont-2;
}

* {
  font-family: $myFont;
  font-size: $myFontSize;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
  img {
    height: 2rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    #About {
      color: $myColor-1;
    }
    #Career,
    #Dep {
      color: $myColor-2;
    }
  }
}

.section-1 {
  margin-top: 12rem;
  text-align: center;
  img {
    height: 3rem;
  }
  #p-head {
    font-size: 2rem;
    color: $myColor-1;
  }
  .para {
    display: flex;
    padding: 3rem 20rem;
    color: $myColor-2;
    align-items: center;
    justify-content: space-between;
    p {
      line-height: 1.5;
      margin-right: 2rem;
      text-align: left;
    }
  }
}

.section-2 {
  display: flex;
  // width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  // padding: 1.375em 1.25em 0;
  // font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 3rem;
  color: $myColor-3;
  font-family: $myFont-2;
  // max-width: 1015px;
  // padding: 0 20px;
  // position: relative;
  height: 15rem;

  .for1 {
    background-color: $myColor-1;
    @include for();
    #for1title {
      @include for-title();
    }
  }
  .for2 {
    background-color: $myColor-4;
  }
  .for3 {
    background-color: $myColor-5;
  }
}
